
/* Formatação do Menu*/
nav{
    background-color: dark;
    font-family: cursive;
    font-size: 20px;
    padding: 20px;
}


#navColor{
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    text-align: center;
    color: #000000;
    font-size: 30px;
}


#dropColor{
    text-align: center;
    color: #000000;
}

#logo{
    height: 60px;
    width: 100px;
    border-radius: 3px;
    margin-left: 5px;
    text-align: center;
}

.item:hover{
    background-color: #F28482;
    border-radius: 3px;
}

#item:hover{
    color: #FFFFFF;
    text-align: center;
    background-color: #F28482;
    border-radius: 3px;
}
 
/*Formatação geral*/
.container{
    
    border-color: #F28482;
    margin-top: 10px; 
    border-radius: 3px; 
    
}

#containerFaleConosco{
    background-color: #F4CECD;
    color: #000000;
}
/* Formatção das imagens do Card de Produtos*/

#imgs {
    margin: 10px auto;
    border-radius: 3px; 
    height: 15rem;
    width: 80%;
}



/* Formatação dos Cards de produtos*/
#card{
    border-color: #F4CECD;
    border-style: groove;
    border-radius: 3px;
    margin-top: 10px;
}

.card-body{
    background-color: #F28482;
}

#textCard{
    color: #000000;
}

/* Formatação do Icones e cards da tela de Fale Conosco*/
#cardIcone{
    margin-top: 15px;
    background-color: #FFFFFF;
}

#textIcone{
    color: #000000;
    text-align: center; 
    
}

#item{
    margin-bottom: 10px;
}

#icone{
    margin: 10px auto;
    border-radius: 3px; 
    height: 8rem;
    width: 80%;
    color: #F28482;
}

#iconeMenu{
    
    padding: 10px;
    font-size: 50px;
    
}

